{% extends 'user/master.html' %}
{% block title %}
    Add Journal
{% endblock title %}

{% block content %}
    <div class="text-center m-5">
        <h1>Add Journal</h1>
        <p>Fill in the journal information</p>
    </div>
    <div class="row m-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="Enter the title" value="{{ journal.title }}" required>
                {% for error in form.title.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="description" rows="4" placeholder="Enter the description" required>{{ journal.description }}</textarea>
                {% for error in form.description.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="file_url" class="form-label">Upload File</label>
                <input class="form-control" type="file" name="file_url" id="file_url" required>
                {% for error in form.file_url.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary m-2" id="submitButton">Add</button>
        </form>
    </div>
{% endblock content %}
