{% extends 'user/master.html' %}
{% block title %}
    Maqolalar
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center mt-5 mb-4">Maqolalar jadvali</h1>
            <ul class="list-group">
                {% for article in articles %}
                    <li class="list-group-item mb-2 border-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="mb-0">{{ article.title }}</h5>
                                <p>{{ article.description|truncatechars:150 }}</p>
                                <p class="text-muted">Yozuvchi: {{ article.user.lastname }}</p>
                                <small class="text-muted">Yuklangan sana: {{ article.created_at }}</small>
                          </div>
                        <div>
                            <a href="{% url 'article_detail' article_id=article.id %}" class="btn btn-sm btn-primary me-2">Ko'rish</a>
                        </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <nav aria-label="Page navigation example" class="m-5">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link {% if not articles.has_previous %}disabled{% endif %}" href="?page={% if not articles.has_previous %}1{% endif %}"> &laquo; Boshi</a>
                </li>
                <li class="page-item {% if not articles.has_previous %}disabled{% endif %}">
                  <a class="page-link" href="?page={% if articles.has_previous %}{{ articles.previous_page_number }}{% endif %}">&lsaquo; Oldingi</a>
                </li>
                {% for page in articles.paginator.page_range %}
                  {% if page == articles.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                  {% elif page > articles.number|add:'-2' and page < articles.number|add:'2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                  {% endif %}
                {% endfor %}
                <li class="page-item {% if not articles.has_next %}disabled{% endif %}">
                  <a class="page-link" href="?page={% if articles.has_next %}{{ articles.next_page_number }}{% endif %}">Keyingi &rsaquo;</a>
                </li>
                <li class="page-item {% if not articles.has_next %}disabled{% endif %}">
                  <a class="page-link" href="?page={{ articles.paginator.num_pages }}">Oxiri &raquo;</a>
                </li>
              </ul>
            </nav>
        </div>
        <div class="col-md-4">
            <h1 class="text-center mt-5 mb-4">Jurnallar jadvali</h1>
            <div class="card text-center">
              <div class="card-header">
                Taqdim etish uchun ochiq
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ now_year}} - yil</h5>
                <p class="card-text">{{ now_issue }} - chorak uchun maqolalar qabul qilish davom etmoqda.</p>
                <a href="{% url 'create_article' %}" class="btn btn-primary">Taqdim etish</a>
              </div>
              <div class="card-footer text-body-secondary">
                Davom etmoqda
              </div>
            </div>
            {% for year, months in issues.items %}
            <div class="card text-center mt-2 mb-2">
              <div class="card-header">
                Taqdim etilgan
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ year }}-yil</h5>
                <p class="card-text">Mart-Iyun-Sentyabr-Dekabr</p>
                <div class="d-flex align-items-center" style="column-gap: 5px; row-gap: 5px; flex-wrap: wrap">
                  {% for month in months %}
                      <a href="{% url 'list_article' %}?search_year={{ year }}&search_issue={{ month }}" class="btn btn-primary text-nowrap">{{ month }}-chorak</a>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
