{% extends 'user/master.html' %}
{% block title %}
    Delete Article
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mt-5 mb-4">Maqolani o`chirish</h1>
            <div class="alert alert-danger">
                <p>Ushbu "{{ article.title }}" maqolani o`chirishga aminmisiz?</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Ha o`chirilsin</button>
                <a href="{% url 'article_detail' article_id=article.id %}" class="btn btn-secondary">Bekor qilish</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
