{% extends 'user/master.html' %}
{% block title %}
    Maqolalar
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mt-5 mb-4">Maqolalar jadvali</h1>
            <ul class="list-group">
                {% for article in articles %}
                     <li class="list-group-item mb-2 border-2">
                        <div class="align-items-center">
                            <h5 class="mb-0">{{ article.title }}</h5>
                            <p>{{ article.description|truncatechars:150 }}</p>
                            <p class="text-muted">Yozuvchi: {{ article.user.lastname }}</p>
                            <small class="text-muted">Yuklangan sana: {{ article.created_at }}</small>
                            <p class="text-muted">Izoh: {{ article.reason }}</p>
                            <div class="row">
                                <div class="col">
                                    {% if article.status == 1 %}
                                        <div class="alert alert-success" role="alert">
                                            Qabul qilingan
                                        </div>
                                    {% elif article.status == 3 %}
                                        <div class="alert alert-danger" role="alert">
                                              Rad qilingan
                                        </div>
                                    {% elif article.status == 2 %}
                                        <div class="alert alert-warning" role="alert">
                                              To'lov kutilmoqda
                                        </div>
                                    {% elif article.status == 0 %}
                                        <div class="alert alert-info" role="alert">
                                              Yuklangan
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="justify-content-end d-flex">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                          <a type="button" target="_blank" href="{% url 'article_detail' article_id=article.id %}" class="btn btn-primary">Ko`rish</a>
                                            {% if article.status == 0 or article.status == 3 %}
                                              <a type="button" href="{% url 'article_update' article_id=article.id %}" class="btn btn-warning">O`zgartirish</a>
                                              <a type="button" href="{% url 'article_delete' article_id=article.id %}" class="btn btn-danger">O`chirish</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
               {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
