{% extends 'user/master.html' %}
{% block title %}
    Maqolalar
{% endblock title %}

{% block content %}
<div class="container">
            <h1 class="text-center mt-5 mb-4">Maqolalar jadvali</h1>
            <ul class="list-group">
                {% for article in articles %}
                    <li class="list-group-item mb-2 border-2">
                        <div class="align-items-center">
                            <h5 class="mb-0">{{ article.title }}</h5>
                            <p>{{ article.description|truncatechars:150 }}</p>
                            <p class="text-muted">Yozuvchi: {{ article.user.lastname }}</p>
                            <small class="text-muted">Yuklangan sana: {{ article.created_at }}</small>
                            <div class="row">
                                <div class="col">
                                    {% if article.status == 1 %}
                                        <div class="alert alert-success" role="alert">
                                            Qabul qilingan
                                        </div>
                                    {% elif article.status == 3 %}
                                        <div class="alert alert-danger" role="alert">
                                              Rad qilingan
                                        </div>
                                    {% elif article.status == 2 %}
                                        <div class="alert alert-warning" role="alert">
                                              To'lov kutilmoqda
                                        </div>
                                    {% elif article.status == 0 %}
                                        <div class="alert alert-info" role="alert">
                                              Yuklangan
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="justify-content-end d-flex">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                          <a type="button" target="_blank" href="{% url 'article_detail' article_id=article.id %}" class="btn btn-primary">Ko`rish</a>
                                          <a type="button" href="{% url 'reject_article' article_id=article.id %}" class="btn btn-danger">Rad qilish</a>
                                          <a type="button" href="{% url 'buying_article' article_id=article.id %}" class="btn btn-warning">To'lovga o'tkazish</a>
                                          <a type="button" href="{% url 'accept_article' article_id=article.id %}" class="btn btn-success">Qabul qilish</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <nav aria-label="Page navigation example" class="m-5">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link {% if not articles.has_previous %}disabled{% endif %}" href="?page={% if not articles.has_previous %}1{% endif %}"> &laquo; Boshi</a>
                </li>
                <li class="page-item {% if not articles.has_previous %}disabled{% endif %}">
                  <a class="page-link" href="?page={% if articles.has_previous %}{{ articles.previous_page_number }}{% endif %}">&lsaquo; Oldingi</a>
                </li>
                {% for page in articles.paginator.page_range %}
                  {% if page == articles.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                  {% elif page > articles.number|add:'-2' and page < articles.number|add:'2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                  {% endif %}
                {% endfor %}
                <li class="page-item {% if not articles.has_next %}disabled{% endif %}">
                  <a class="page-link" href="?page={% if articles.has_next %}{{ articles.next_page_number }}{% endif %}">Keyingi &rsaquo;</a>
                </li>
                <li class="page-item {% if not articles.has_next %}disabled{% endif %}">
                  <a class="page-link" href="?page={{ articles.paginator.num_pages }}">Oxiri &raquo;</a>
                </li>
              </ul>
            </nav>
        </div>
{% endblock content %}
